<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Navbar</a>

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animals" routerLinkActive="active">Animales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/keepers" routerLinkActive="active">Ciudadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store" routerLinkActive="active">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
